extends ./layout/layout

block content
  div#main(class="pure-menu pure-menu-open pure-menu-horizontal").pure-g-r 
    ul.pure-u-1
      li.pure-u-1-4
        a(href="./index.html")
          | 首頁
      li.pure-u-1-4
        a(href="./pros.html")
          | 正方
      li.pure-u-1-4
        a(href="./cons.html").pure-menu-selected
          | 反方
      li.pure-u-1-4
        a(href="./discuss.html")
          | 討論區